.btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
  }
  
.offcanvas {
    background-color: #282d43d9;
}

.container, .container-md, .container-sm {
    max-width: initial;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    color: white;
}

.nav-background {
    background-color: #282d43d9;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    position: fixed;
    backdrop-filter: blur(5px);
}

#collapsible-nav-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand-name {
    color: #3388FF;
    font-size: 1.5rem;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.6);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link,
.navbar-nav .nav-dropdown .nav-link,
.navbar-nav .nav-dropdown .nav-dropdown .nav-link {
    color: white;
}

@media (max-width: 960px) {
    .dropdown-menu {
        text-align: center;
    }
}

@media (min-width: 960px) {
    .navbar {
        margin: 15px 11px 0 11px;
        border-radius: 15px;
    }
    .nav-background-color {
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        position: fixed;
    }
}

.navbar-nav .nav-link.show {
    color: skyblue;
}
