.quick-mission-statement-wrapper {
    background: radial-gradient(circle, rgba(75, 125, 161, 0.8) 0%, rgba(2, 7, 38, 0.8) 78%);
    height: 750px;
    width: 100%;
    color: white;
    padding: 25px 50px 25px 50px;
    box-shadow: 0 -15px 10px 0px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
  }
  
.quick-mission-statement-text {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
    height: inherit;
    line-height: 40px;
    font-weight: 800;
    font-size: 19px;
}

#avoid-casinos-text {
    text-decoration: underline;
    text-decoration-color: red;
    color: red;
}

#compound-interest-text {
    text-decoration: underline;
    text-decoration-color: rgb(26, 248, 26);
    color: rgb(26, 248, 26);
}

@media (min-width: 465px) {
    .quick-mission-statement-text{
        font-size: 25px;
        line-height: 45px;
    }
}
@media (min-width: 750px) {
    .quick-mission-statement-text{
        font-size: 35px;
        line-height: 52px;
    }
}
@media (min-width: 1075px) {
    .quick-mission-statement-text{
        font-size: 40px;
        line-height: 60px;
        padding-right: 90px;
        padding-left: 90px;
    }
}

@media (min-width: 1250px) {
    .quick-mission-statement-text{
        font-size: 40px;
        line-height: 75px;
        padding-right: 100px;
        padding-left: 100px;
    }
}