main {
    background-color: rgb(1 1 1 / 43%);
}

table {
    font-size: calc(10px + 2vw);
}

#kobe-image {
    border-radius: 5%;
    box-shadow: 1px 1px 15px 0px rgb(255 215 0 / 80%), 0 0px 7px 0 rgba(255, 215, 0, 0.3);
}

#tom-image {
    box-shadow: inset 0px 0px 8px #0d6efd, 0 0 15px #0d6efd; 
}

#ohtani-image {
    box-shadow: 0px 0px 10px 0px rgb(255 0 0 / 80%), 0 0px 20px 0 rgb(255 0 0 / 30%);
}

#ohtani-flexbox-container {
    display: flex;
    justify-content: center;
}

article p {
    font-size: 20px;
    margin-left: 15px;
}

#look-around-paragraph {
    margin-left: 0px;
}

#main-content-container {
    margin: 150px 0px 0px 0px;
}

.middle-section-container {
    margin-left: 100px;
}

.article-text {
    color: white;
    margin: 25px 10px;
}

h2 {
    color: white;
    text-align: center;
}

article h4 {
    text-decoration: underline;
    font-size: 30px;
}

article {
    background: none;
}

.sports-img {
    display: flex;
    justify-content: center;
}

@media (min-width: 576px) {
    #upper-section-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    #middle-section-container {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }
    #kobe-image {
        margin-right: 15px;
    }
    #look-around-id {
        margin-left: 30px;
    }
}

@media (min-width: 768px) {
    #main-content-container{
        margin: 150px 75px;
    }
    article p {
        font-size: 20px;
    }
    #middle-section-container {
        margin-left: 50px;
    }
}

@media (min-width: 992px) {
    #main-content-container{
        margin: 150px 100px;
    }
    article p {
        font-size: 25px;
    }
    #middle-section-container {
        margin-left: 75px;
    }
}

@media (min-width: 1200px) {
    #main-content-container{
        margin: 150px 175px;
    }
    article p {
        font-size: 30px;
    }
    #kobe-image {
        width: 250px;
        height: 400px;
    }    
}


