#root {
    justify-content: center;
}

main {
    /* Removing reacts default main background color styling */
    background-color: transparent !important;
    margin-top: 15px;
}

.btn {
    font-weight: 700;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    button {
        height: 50px;
    }
    .btn {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
}

@media (min-width: 992px) {
    button {
        height: 70px;
    }
    .btn {
        font-size: 1.8rem;
        letter-spacing: 4px;
    }
}