@media (max-width: 720px) {
    #kayshaPic {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width: 720px) {
    .custom-background {
        margin: 0 5rem;
    }
}
