#title-header-bj {
    text-align: center;
}

.highlight{
    font-weight: bold;
    background-color: rgb(249, 249, 116);
    text-decoration: 3px underline;
    color: black;
    padding: 5px;

}

#rules-main-container {
    margin-top: 100px;
}

#rules-main-container h2 {
    text-align: start;
}

#house-rules-variations {
    text-align: center;
    color: white;
    margin: 25px;
}

#rules-main-container .card {
    margin: 10px;
}

#rules-main-container p {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}

.winning-sub-header {
    text-decoration: underline;
}

#rules-main-container li {
    font-size: 18px;
    margin: 15px;
    font-weight: 700;
}

#rules-main-container ul, #rules-main-container ol{
    margin-top: 15px;
    padding-left: 15px;
}

#strategy-evolution {
    text-align: center;
}

#strat-button-flexbox {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

@media (min-wdith: 1200px) {
    #winning-ul {
        padding-left: 50px !important;
    }
}