#title-wrapper {
    padding: 25px;
    background-color: #282d43d9;
    backdrop-filter: blur(10px);
}

/* #title-wrapper, #title-wrapper * ensures that all text within the #title-wrapper section, including its child elements, will be white. */

#title-wrapper, #title-wrapper *, section, section * {
    color: white;
}

section h2 {
    text-align: center;
    margin: 25px 0px;
    text-decoration: underline;
    text-decoration-color: rgb(26, 248, 26);
    color: rgb(26, 248, 26);
    font-size: 40px;
    font-weight: 800;
}

ul {
    list-style-type: disc;
    color: white;
}

main {
    background-color: rgb(1 1 1 / 43%);
}

#addiction-hold-hands{
    max-height: 750px;
}

.img-flexbox-container {
    display: flex;
    justify-content: center;
}

article {
    background: #00000096;
    padding: 1px;
    margin-bottom: -50px;
}

.article-section {
    margin: 75px 20px;
    padding: 5px;
    background-color: rgba(169, 169, 169, 0.442);
    border-radius: 25px;
}

ul li {
    padding: 25px 25px 25px 0;
}

.mission-statement-wrapper {
    margin-top: 0;
}

.holding-hands-container {
    position: relative;
    width: 100%;
}
  
.holding-hands-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

}
  
#addiction-hold-hands {
    width: 100%;
}
@media (min-width: 700px) {

}
@media (min-width: 825px) {
    ol {
        padding-left: 2.5rem;
    }
    .article-section {
        margin: 75px 150px;
        padding: 25px;
        background-color: rgba(169, 169, 169, 0.442);
        border-radius: 25px;
    }
    article {
        padding: 50px;
    }
}

@media (min-width: 1125px) {
    section h2 {
        margin: 25px 0px;
    }
    ol {
        padding-left: 4rem;
    }
}